fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
pydantic-settings
python-multipart

# Auth
firebase-admin

python-dotenv
alembic
slowapi
groq
pydantic
reportlab
sentence-transformers
numpy
email-validator
