fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
pydantic-settings
python-jose[cryptography]

python-multipart
openai
python-dotenv
alembic
slowapi
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
groq
pydantic
reportlab
sentence-transformers
numpy
email-validator
